body{
margin: 0px;
padding: 0px;
background-color: #F3F3F3;
}

@font-face {
  font-family: VeryFineSerif;
  src: local("Very Fine Serif"),
       url(Very Fine Serif.ttf);
  font-weight: bold;
}

header{
background-color: black;
color: white;
margin: 0px;
padding: 0px;
text-align: center;
height: 15vh;
display: flex;
flex-direction: column;
justify-content: center;
}

.zigzag{
  @font-face {
    font-family: VeryFineSerif;
    src: local("Very Fine Serif"),
         url(Very Fine Serif.ttf);
    font-weight: bold;
  }
}

.wrapper{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: 90%;
  margin: 20px auto;
  height: 50vh;
  background-color: #F3F3F3;
}

main{

}

section{
width: 30%;
}

#left{

}

#middle{

}

#right{

}

h1{
  margin: 0px;
}

h2{

}

ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;


}

li{
flex-basis: 100%;
display: flex;
color: #A3A3A3;
}

li p{
margin: 0px;
margin-right: 5px;
color: #619D9D;
}
img{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: inherit;
}
